<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614279365419-926uo9rd5pj7c5p9slljvg489c2fki84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614279365419-926uo9rd5pj7c5p9slljvg489c2fki84</string>
	<key>API_KEY</key>
	<string>AIzaSyBV3K_XkJSd6JlKJ0_8dkuOoUs4YhsM7_o</string>
	<key>GCM_SENDER_ID</key>
	<string>614279365419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isaiabelladelli.sCatCh</string>
	<key>PROJECT_ID</key>
	<string>scatch-1ba65</string>
	<key>STORAGE_BUCKET</key>
	<string>scatch-1ba65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614279365419:ios:6b969b6e73c1f847cc7b6e</string>
	<key>DATABASE_URL</key>
	<string>https://scatch-1ba65-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>